.main.outer{padding-top: 50px;}
.header-panel.shadow-z-2 {
    background-color: #009587;
    padding: 50px 0 15px 0;
    width: 100%;
}
.full{ font-size: 16px; }
.logo-img {
    width: 56px;
    height: 56px;
    border-radius: 60px;
    margin: 0 auto;
}
.logo-turner {
    font-size: 18px;
    vertical-align: middle;
    text-align: center;
    margin-top: 10px;
    letter-spacing: 2px;
}
.row-content{
    vertical-align: top;
}
.row-picture {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}
.row-details {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
}
p.info {
    color: #fff;
}
p.info a {
    color: #fff;
    text-decoration: underline;
}
.full ul,.full ol {
    margin-left: 15px;
}
.full img{
    display: block;
    max-width: 100%;
    height: auto;
}
.social-icons {
    margin: 20px 0 0;
}
.icon {
    background: rgba(255, 255, 255, 0.63);
    border-radius: 100%;
    text-align: center;
    line-height: 20px;
    font-size: 20px;
    color: #009688;
    padding: 5px;
    width: 30px;
    height: 30px;
    display: inline-block;
}
.icon:hover {
    color: rgba(255, 255, 255, 0.63);
    background: #009688;
}

/* ADDED *******************/





/* ***** ********************/

.menu ul li {
    list-style: none;
    margin: 5px 0;
}

.menu ul li a:hover, .menu ul li a:focus, li.current-menu-item > a{
    background: #007D72;
}
li.current-menu-item:before {
    content: "";
    display: inline-block;
    height: 55px;
    width: 5px;
    position: absolute;
    left: 9px;
    vertical-align: middle;
    background: #B8CA28;
}
.menu ul li a {
    font-size: 15px;
    font-weight: normal;
    cursor: pointer;
    display: block;
    text-decoration: none;
    padding: 0 0 0 10px;
    color: #fff;
}
.home-subtitle {
    font-size: 26px;
    margin-bottom: 32px;
    margin-top: 5px;
    color: #01c87b;
    font-weight: 300;
}
h2.blog-title-pro{color: #fff;}
h2.blog-title-pro:after {
    content: "";
    display: block;
    width: 70px;
    height: 4px;
    margin-top: 16px;
    margin-left: 3px;
    background: rgba(255, 255, 255, 0.72);
}
span.tags{ margin: 0 2px;cursor: pointer;display: inline-block;}
.card .card-image .card-image-headline-custom{
    position: absolute;
    margin-bottom: 0;
    bottom: 0px;
    left: 0px;
    width: 100%;
    padding: 5px 0 12px;
    color: #fff;
    font-size: 2em;
    background: -moz-linear-gradient(bottom,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 83%, rgba(0,0,0) 100%);
background: -webkit-linear-gradient(bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 83%,rgba(0,0,0) 100%);
background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%,rgba(0,0,0,0.9) 83%,rgb(0, 0, 0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
}
.card .card-footer a {
    margin: 0 !important;
    position: relative;
    bottom: 25px;
    width: auto;
}
#filters {
    margin: 0 0 25px 0;
}
.list-separator li > a i{
    width: 56px;
    height: 56px;
    text-align: center;
    line-height: 56px;
    font-size: 20px;
}
.error {
    color: #EF7272!important;
    font-size: 12px!important;
}
#portfolio-filter {
        margin-top: 50px;
}
.navbar-toggle i {
    color: #BCCCBF;
}
.menu .list-group-item-heading, .menu .list-group-item-text{
    color:#fff!important;
}
@media (max-width: 768px) {
    #portfolio-filter {
        margin-top: 0px;
    }
}
footer {
    border-top: 1px solid #C5C0C0;
    width: 100%;
    height: 10px;
    margin-top: 10px;
    margin-bottom: 3em;
    padding-top: 10px;
    color: #444444;
    font-size: 11px;
    bottom: 0;
    padding-bottom: 10px;
}
.pager li.active a {
    background: rgba(89, 148, 129, 0.3);
}
/** Search input **/
.searchcontrol {
    margin-top: 35px;
    margin-bottom: 0;
}
.searchcontrol input[type=text]{
    color:#fff;
}
.searchcontrol input[type=text]:focus{
    outline: none;
    border: none;
    box-shadow: none;
}

/** Search result dropdown **/
.search__results {
    display: block;
    background: #fff;
    list-style: none;
    padding: 0;
    transition: 0.2s ease;
    position: absolute;
    width: 100%;
    -webkit-box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
    border-radius: 2px;
    border: 0;
    z-index: 999;
}
.search__results.is-hidden {
    opacity: 0;
    transform: translateY(-1vh);
    display: none;
}
.search__results > li {
    border-top: 1px solid #f0f0f0;
    padding: 10px 0;
}
.search__results > li > a {
    padding: 10px;
}
.search__result-date {
    font-size: 12px;
    color: #BBB;
    position: absolute;
    right: 12px;
}

/*  CUSTOM CSS  */

.list-group .list-group-item .row-content .least-content {
     position: inherit !important; 
}




.list-group .list-group-item .row-action-primary img, .list-group .list-group-item .row-picture img .img-round{
    border-radius: 50%;
    height: 75px ;
    width: 75px ;
    max-width: 100%;
    max-height: 100%;
    margin-top: 14%;
    margin-left: 10px;
}



.list-group .list-group-item {
    padding: 0 6px !important;
}

.list-group-item .row-action-primary, .list-group .list-group-item .row-picture {
    width: 12% ;
    padding-right: 0 !important;
}

.row-content{
    width: 87% ;
}  

@media screen and (max-width: 990px){
    .row-action-primary{
        width: 40% !important;
        margin-left: 30%;
    }
    .list-group .list-group-item .row-action-primary img, .list-group .list-group-item .row-picture img .img-round{
        margin-top: 5%;
        max-width: 100%;
        max-height: 100%;
        height: 115px;
        width: 115px;
    }
    .row-content {
        width: 100% !important;
    }
}

@media only screen and (min-width: 1199px) {

    .menu-fixed{
        position: fixed;
        top: 10px;
        width: 272.5px;
        z-index: 100;
        
    }

    .menu-div{
        position: relative;
    }
}

@media only screen and (min-width: 991px)  and (max-width: 1199px){

    .menu-fixed{
        position: fixed;
        top: 10px;
        width: 222.5px;
        z-index: 100;
        
    }

    .menu-div{
        position: relative;
    }

    /* img round left to  articles */
    .list-group .list-group-item .row-action-primary img, .list-group .list-group-item .row-picture img .img-round{
        margin-left: 0px;
    }
    
    /* side nav */
    .container .well, body .container-fluid .jumbotron, body .container-fluid .well {
        padding: 9px !important;
    }
}


body .container .jumbotron, body .container .well, body .container-fluid .jumbotron, body .container-fluid .well{
    padding: 15px;
} 


.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-right: 10px;
    padding-left: 10px;
}